@tailwind base;
@tailwind components;
@tailwind utilities;

/* Règle pour cacher la barre de défilement sous la palette des matières */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
canvas {
  image-rendering: pixelated;
}
